/* COURSES TITLE*/
.courses__title {
    margin-top: 5rem;
    text-align: center;
    padding: 5rem 1rem;
    color: var(--color-black);
    background: var(--color-white);
    background-image: var(--shattered-bg);
}

.courses__title > h1 {
    position: relative;
    letter-spacing: 4px;
    text-transform: uppercase;
    display: inline-block;
    font-size: 2.7rem;
}

/* COURSES */
.courses {
    margin-bottom: 4rem;
}

.courses__scroll {
    position: relative;
    transform: translateY(-6rem);
}

.courses__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.courses__container--title {
    display: inline-block;
    font-size: 12pt;
    margin: 3rem 0 1.4rem;
    text-transform: uppercase;
    color: white;
}

.courses__container--title > h2 {
    padding: 0.7rem 1.4rem;
}

.--integral > h2{
    background: var(--color-primary);
}

.--parcial > h2 {
    background: var(--color-secondary);
}

.course {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--color-white);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.course__img img {
    height: 100%;
}

.--integral .course__content {
    border-left: 3px solid var(--color-primary);
}

.--parcial .course__content {
    border-left: 3px solid var(--color-secondary);
}

.course__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 1.2rem;
}

.course__title {
    font-size: 1.2rem;
}

.course__desc {
    margin: 15px 0;
    font-size: 11pt;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;

    /* Non webkit browsers */
    line-height: 18px;
    height: calc(18px * 5); 
}

.course__btn {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 1rem;
    position: relative;
    padding: 0.5rem 2rem;
    cursor: pointer;
    font-size: 11pt;
    background-repeat: no-repeat;
    background-size: 0%;
    transition: var(--transition);
}

.course__btn:hover {
    letter-spacing: 2px;
    background-size: 100%;
    color: var(--color-white);
}

.--integral .course__btn{
    background-image: linear-gradient(
        var(--color-primary), var(--color-primary)
    );
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
}

.--integral .course__btn:hover {
    color: var(--color-white);
}

.--parcial .course__btn {
    background-image: linear-gradient(
        var(--color-secondary), var(--color-secondary)
    );
    color: var(--color-secondary);
    border: 2px solid var(--color-secondary);
}

.--parcial .course__btn:hover {
    color: var(--color-white);
}

/* MODAL */

.modalSwiper .swiper-slide {
    height: auto;
}

.modal__blur {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 20;
    backdrop-filter: blur(5px);
}

.modalSwiper{
    height: calc(100vh - 2rem);
    display: none;
    position: fixed;
    top: 1rem;
    max-width: 800px;
    left: 50%;
    transform: translateX(-50%);
    margin-inline: auto;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    background: var(--color-white);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 30;
}

.modal {
    padding: 2rem;
}

.modal__close {
    padding: 0.7rem;
    font-size: 1.2rem;
    position: absolute;
    right: 0;
    top: 0;
    color: var(--color-primary);
    background: none;
    cursor: pointer;
    transition: var(--transition);
}

.modal__close:hover {
    font-size: 1.3rem;
    opacity: 0.5;
}

.modal a:hover {
    transition: var(--transition);
    letter-spacing: 1px;
}

.modal__img {
    max-width: 600px;
    margin: auto;
    border: 3px solid var(--color-primary);
}

.modal__title {
    text-align: center;
    color: var(--color-primary);
    margin: 1rem 0;
}

.modalSwiper.--parcial .modal__title {
    color: var(--color-secondary);
}

.modalSwiper.--parcial .modal__img {
    border: 3px solid var(--color-secondary);
}

.modalSwiper.--parcial a {
    color: var(--color-secondary);
}

.modalSwiper.--parcial .modal__close {
    color: var(--color-secondary);
}

.modal__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal__desc {
    text-align: center;
}

.modal__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    column-gap: 4rem;
    width: fit-content;
    margin: 2rem 0;
}

.visitsSwiper .swiper-slide {
    width: calc(100%/3) !important;
}

.visitsSwiper .swiper-wrapper {
    margin-bottom: 2rem;
}

.modalSwiper.--parcial .swiper-pagination-bullet:hover {
    background: var(--color-secondary);
}

.modalSwiper.--parcial .swiper-pagination-bullet-active {
    background: var(--color-secondary);
}

/* MEDIA QUERIES (TABLETS) */
@media screen and (max-width: 1060px) {
    /* COURSES */
    .courses__grid {
        grid-template-columns: 1fr;
    }

    .courses__title > h1 {
        font-size: 2.5rem;
        letter-spacing: 6px;
    }

    .courses__container--title > h2 {
        font-size: 1.5rem;
    }

    /* MODAL */
    .modal__content {
        padding-inline: 2rem;
    }

    .modal__info {
        column-gap: 3rem;
    }

    .visitsSwiper .swiper-slide {
        width: calc(100%/2) !important;
    }
}

@media screen and (max-width: 600px) {
    /* COURSES */
    .courses__title {
        padding: 3rem 0;
    }

    .courses__title > h1 {
        padding-inline: 1rem;
        font-size: 2.2rem;
    }

    .course {
        grid-template-columns: 1fr;
    }

    .courses__container--title {
        width: 100%;
    }

    .courses__container--title > h2 {
        font-size: 1.3rem;
    }

    .--integral .course__content {
        border-left: none;
        border-top: 3px solid var(--color-primary);
    }
    
    .--parcial .course__content {
        border-left: none;
        border-top: 3px solid var(--color-secondary);
    }

    .course__btn > a {
        padding: 0.5rem 3rem;
    }

    /* MODAL */
    .modal__content {
        padding-inline: 2rem;
    }
    
    .modal__info {
        grid-template-columns: 1fr;
        gap: 0.5rem;
        width: fit-content;
    }

    .visitsSwiper .swiper-slide {
        width: 100% !important;
    }

}