<section class="confirmation">
    <div class="confirmation__header">
        <button class="confirmation__close">
            <i class="uil uil-times-circle"></i>
        </button>
        <i class="uil uil-exclamation-octagon"></i>
        <h1>Excluir <strong><%- item %> </strong></h1>
    </div>
    <div class="confirmation__body">
        <h2>Aviso: Essa ação não pode ser desfeita</h2>
        <div class="confirmation__list">
            <p class="confirmation__item">Este conteúdo será removido do site</p>
            <p class="confirmation__item">Você não terá mais acesso a ele</p>
            <p class="confirmation__item">Não ficará salva nenhuma informação referente a isso</p>
        </div>
        <div class="confirmation__btns">
            <button class="confirmation__delete">Excluir</button>
            <button class="confirmation__cancel">Cancelar</button>
        </div>
    </div>
</section>