<!DOCTYPE html>
<html lang="pt-br">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ETEC JB | Diretoria Acadêmica</title>

    <link rel="shortcut icon" href="/imgs/logo/jb-logo.png" type="image/x-icon">

    <!-- ICONSCOUT CDN -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">

    <!-- SWIPER JS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/board.css">
</head>
<body>
    <%- include('./partials/nav') %> 

    <%- include('./components/theme-switcher') %>

    <section class="directory">
        <div class="directory__container container">
            <div class="directory__title">
                <h1>Diretoria Acadêmica</h1>
            </div>
            <div class="directory__desc">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque, incidunt!</p>
            </div>
        </div>
    </section>

    <section class="services">
            <div class="services__container container">
                <div class="services__info">
                    <div class="services__info--title">
                        <h2>Serviços</h2>
                    </div>
                    <div class="services__info--text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus molestiae, natus eveniet quos saepe doloribus quisquam adipisci! Voluptatibus, praesentium. Corporis!</p>
                    </div>
                </div>
                <div class="services__grid">
                        <div class="service">
                            <div class="service__content">
                                <i class="uil uil-file-info-alt"></i>
                                <div class="service__desc">
                                    <h4>Certificação de Competências</h4>
                                </div>
                            </div>
                        </div>
                        <div class="service">
                            <div class="service__content">
                                <i class="uil uil-bell-school"></i>
                                <div class="service__desc">
                                    <h4>Menção Final</h4>
                                </div>
                            </div>
                        </div>
                        <div class="service">
                            <div class="service__content">
                                <i class="uil uil-info-circle"></i>
                                <div class="service__desc">
                                    <h4>Informações</h4>
                                </div>
                            </div>
                        </div>
                        <div class="service">
                            <div class="service__content">
                                <i class="uil uil-schedule"></i>
                                <div class="service__desc">
                                    <h4>Calendário Escolar</h4>
                                </div>
                            </div>
                        </div>
                        <div class="service">
                            <div class="service__content">
                                <i class="uil uil-file-export"></i>
                                <div class="service__desc">
                                    <h4>Expedição de Documentos</h4>
                                </div>
                            </div>
                        </div>
                        <div class="service">
                            <div class="service__content">
                                <i class="uil uil-book-open"></i>
                                <div class="service__desc">
                                    <h4>Manual de Integração</h4>
                                </div>
                            </div>
                        </div>
                        <div class="service">
                            <div class="service__content">
                                <i class="uil uil-edit"></i>
                                <div class="service__desc">
                                    <h4>Reconsideração de Notas.</h4>
                                </div>
                            </div>
                        </div>
                        <div class="service">
                            <div class="service__content">
                                <i class="uil uil-unlock"></i>
                                <div class="service__desc">
                                    <h4>Vagas Remanescentes</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
    </section>

    <section class="info">
        <div class="info__container container"> 
            <div class="info__grid">
                <div class="info__title">
                    <div class="info__content">
                        <h2>NSA</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nesciunt tempora, beatae mollitia aliquam ea recusandae! Facere libero quas tempora iusto.</p>
                    </div>
                </div>
                <div class="info__card">
                    <div class="info__image">
                        <img src="http://assets.lwsite.com.br/uploads/widget_image/image/691/784/691784/nsaonline.png" alt="NSA">
                    </div>
                    <div class="info__text">
                        <h2>Acesso ao NSA Online</h2>
                    </div>
                </div>
                <div class="info__card">
                    <div class="info__image">
                        <img src="https://images.tcdn.com.br/img/editor/up/606178/cadeado.png" alt="Recuperar Senha">
                    </div>
                    <div class="info__text">
                        <h2>Gerar/Recuperar Senha</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="apm">
        <div class="apm__title"><h2>PARCEIROS APM</h2></div>
        <div class="apm__container container">
            <div class="swiper apmSwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide apm-slide"><img src="./imgs/slide-pics/img1.png" alt=""></div>
                  <div class="swiper-slide apm-slide"><img src="./imgs/slide-pics/img2.png" alt=""></div>
                  <div class="swiper-slide apm-slide"><img src="./imgs/slide-pics/img3.png" alt=""></div>
                  <div class="swiper-slide apm-slide"><img src="./imgs/slide-pics/img4.png" alt=""></div>
                  <div class="swiper-slide apm-slide"><img src="./imgs/slide-pics/img5.png" alt=""></div>
                  <div class="swiper-slide apm-slide"><img src="./imgs/slide-pics/img6.png" alt=""></div>
                  <div class="swiper-slide apm-slide"><img src="./imgs/slide-pics/img7.png" alt=""></div>
                  <div class="swiper-slide apm-slide"><img src="./imgs/slide-pics/img1.png" alt=""></div>
                  <div class="swiper-slide apm-slide"><img src="./imgs/slide-pics/img2.png" alt=""></div>
                  <div class="swiper-slide apm-slide"><img src="./imgs/slide-pics/img3.png" alt=""></div>
                  <div class="swiper-slide apm-slide"><img src="./imgs/slide-pics/img4.png" alt=""></div>
                  <div class="swiper-slide apm-slide"><img src="./imgs/slide-pics/img5.png" alt=""></div>
                  <div class="swiper-slide apm-slide"><img src="./imgs/slide-pics/img6.png" alt=""></div>
                  <div class="swiper-slide apm-slide"><img src="./imgs/slide-pics/img7.png" alt=""></div>
                  <div class="swiper-slide apm-slide"><img src="./imgs/slide-pics/img1.png" alt=""></div>
                  <div class="swiper-slide apm-slide"><img src="./imgs/slide-pics/img2.png" alt=""></div>
                  <div class="swiper-slide apm-slide"><img src="./imgs/slide-pics/img3.png" alt=""></div>
                  <div class="swiper-slide apm-slide"><img src="./imgs/slide-pics/img4.png" alt=""></div>
                </div>
                <div class="swiper-button-next apm-button" id="apm-next"></div>
                <div class="swiper-button-prev apm-button" id="apm-prev"></div>
              </div>
        </div>
    </section>

    <%- include('./partials/footer')  %> 

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  
    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".apmSwiper", {
        slidesPerView: 2,
        grid: {
          rows: 2,
        },
        spaceBetween: 1,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },

        breakpoints: {
          1060: {
              slidesPerView: 4,
              grid: {
                  rows: 2,
              },
              spaceBetween: 5,
          },

          600: {
              slidesPerView: 3,
              grid: {
                  rows: 2,
              },
              spaceBetween: 3,
          }
        }

      });
    </script>
  
  <script src="/js/main.js"></script>

</body>
</html>