<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ETEC JB | Contato</title>

    <link rel="shortcut icon" href="/imgs/logo/jb-logo.png" type="image/x-icon">

    <!-- ICONSCOUT CDN -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">

    <!-- SWIPER JS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>
    <%- include('./partials/nav') %> 

    <%- include('./components/theme-switcher') %>

    <section class="contact">
        <div class="contact__header">
            <div class="contact__title"><h1>Entre em Contato</h1></div>
            <div class="contact__subtitle"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero dicta delectus facere repudiandae minus natus amet quas ipsum commodi dolor!</p></div>
        </div>
        <div class="contact__main">
            <button class="scroll__map">
                <i class="uil uil-angle-double-down"></i>
            </button>
            <div class="contact__grid container">
                <div class="contact__card">
                    <i class="uil uil-phone"></i>
                    <h2>Telefone</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam, aut!</p>
                    <span>+55 19 99868-4987</span>
                    <span>+55 19 99999-0000</span>
                </div>
                <div class="contact__card">
                    <i class="uil uil-envelope"></i>
                    <h2>Email</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam, aut!</p>
                    <span>e067acad@cps.sp.gov.br</span>
                    <span>e067adm@cps.sp.gov.br</span>
                </div>
                <div class="contact__card">
                    <i class="uil uil-location-point"></i>
                    <h2>Localização</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam, aut!</p>
                    <span>Rua Sete de Setembro, 299</span>
                    <span>CEP: 13900-372</span>
                </div>
            </div>
        </div>
    </section>

    <section class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14722.333567223142!2d-46.7650427!3d-22.7065477!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x47221efa058bc901!2sETEC%20Jo%C3%A3o%20Belarmino!5e0!3m2!1spt-BR!2sbr!4v1660527944243!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>

    <%- include('./partials/footer') %> 

    <script src="/js/main.js"></script>
    <script>
        scrollMap();
    </script>

</body>
</html>