<!DOCTYPE html>
<html lang="pt-br">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ETEC JB | Diretoria de Serviços</title>

    <link rel="shortcut icon" href="/imgs/logo/jb-logo.png" type="image/x-icon">

    <!-- ICONSCOUT CDN -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">

    <!-- SWIPER JS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/board.css">
</head>
<body>
    <%- include('./partials/nav') %> 

    <%- include('./components/theme-switcher') %>

    <section class="directory">
        <div class="directory__container container">
            <div class="directory__title">
                <h1>Diretoria de Serviços</h1>
            </div>
            <div class="directory__desc">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque, incidunt!</p>
            </div>
        </div>
    </section>

    <section class="services">
            <div class="services__container container --servicesDir">
                <div class="services__info">
                    <div class="services__info--title">
                        <h2>Serviços</h2>
                    </div>
                    <div class="services__info--text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus molestiae, natus eveniet quos saepe doloribus quisquam adipisci! Voluptatibus, praesentium. Corporis!</p>
                    </div>
                </div>
                <div class="services__grid --servicesDir">
                        <div class="service">
                            <div class="service__content">
                                <i class="uil uil-file-info-alt"></i>
                                <div class="service__desc">
                                    <h4>Recadastramento Anual</h4>
                                </div>
                            </div>
                        </div>
                        <div class="service">
                            <div class="service__content">
                                <i class="uil uil-bell-school"></i>
                                <div class="service__desc">
                                    <h4>Acesso ao E-Mail Institucional</h4>
                                </div>
                            </div>
                        </div>
                        <div class="service">
                            <div class="service__content">
                                <i class="uil uil-info-circle"></i>
                                <div class="service__desc">
                                    <h4>Demonstrativo de Pagamento</h4>
                                </div>
                            </div>
                        </div>
                        <div class="service">
                            <div class="service__content">
                                <i class="uil uil-file-export"></i>
                                <div class="service__desc">
                                    <h4>Atribuição - Requerimento de Inscrição</h4>
                                </div>
                            </div>
                        </div>
                        <div class="service">
                            <div class="service__content">
                                <i class="uil uil-book-open"></i>
                                <div class="service__desc">
                                    <h4>Regimento Comum das Etecs</h4>
                                </div>
                            </div>
                        </div>
                        <div class="service">
                            <div class="service__content">
                                <i class="uil uil-edit"></i>
                                <div class="service__desc">
                                    <h4>Atestado de Rendimentos</h4>
                                </div>
                            </div>
                        </div> 
                    </a>
                </div>
            </div>
    </section>

    <section class="info">
        <div class="info__container container"> 
            <div class="info__grid">
                <div class="info__title">
                    <div class="info__content">
                        <h2>Processo Seletivo</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, sunt?</p>
                        <a href="#">Deliberação 41, de 09-08-2018</a> <br>
                        <a href="#">Catálogo de Requisitos</a>
                    </div>
                </div>
                <div class="info__card">
                    <div class="info__image">
                        <img src="https://sitearquivos.s3-us-west-2.amazonaws.com/640/Noticias/69831/pahz1avykxau7ttr6gpf_Processo-Seletivo.png" alt="Processo Seletivo">
                    </div>
                    <div class="info__text">
                        <h2>Processo Seletivo</h2>
                    </div>
                </div>
                <div class="info__card">
                    <div class="info__image">
                        <img src="https://institutocienciaearte.com.br/wp-content/uploads/2020/02/concurso_portugues_1.png" alt="Concurso Público">
                    </div>
                    <div class="info__text">
                        <h2>Concurso Público</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('./partials/footer')  %>

<script src="/js/main.js"></script>

</body>
</html>