<section class="swiper modalSwiper container">
    <div class="swiper-wrapper">
        <div class="swiper-slide ">
            <div class="modal">
                <button class="modal__close"><i class="uil uil-multiply"></i></button>
                <div class="modal__img">
                    <img src="/imgs/slide-pics/img3.png">
                </div>
                <div class="modal__content">
                    <div class="modal__title">
                        <h1>NOME CURSO</h1>
                    </div>
                    <div class="modal__desc">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo reprehenderit quis officiis commodi deleniti vitae eveniet, enim amet nobis magni iure ea sapiente odio praesentium, quia eius quasi ad doloribus quas dolor iusto beatae facilis. Dolor quod quia magnam provident.
                    </div>
                    <div class="modal__info">
                        <span class="modal__duration"><i class="uil uil-clock"></i> 100hrs</span>
                        <span class="modal__vacancies"><i class="uil uil-users-alt"></i> 40</span>
                        <span class="modal__period"><i class="uil uil-calendar-alt"></i> Noturno</span>
                        <span class="modal__curriculum"><a href="#"><i class="uil uil-diary"></i> Matriz Curricular</a></span>
                        <span class="modal__coordinator"><i class="uil uil-user-square"></i> Nome Coordenador</span>
                        <span class="modal__coordinator--email"><i class="uil uil-envelope"></i> coordenador@email.com</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="swiper-scrollbar"></div>
</section>