/* NAV */
.adminNav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adminNav__logo img {
    width: 50px;
    height: 41.41px;
}

.adminNav__info strong {
    color: var(--color-primary);
}

.adminNav__signOut a {
    display: inline-block;
    position: relative;
    transition: var(--transition);
    text-transform: uppercase;
    font-size: 0.9rem;
}

.adminNav__signOut i {
    font-size: 1rem;
}

.adminNav__signOut a:hover {
    color: var(--color-primary-dark);
    transform: translateX(0.5rem);
}

/* MAIN */
.admin {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: max-content auto;
}

.admin__menu {
    height: calc(100vh - 6rem);
    padding-top: 1rem;
    width: fit-content;
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.admin__item {
    position: relative;
    padding: 1.25rem 5rem 1.25rem 1rem; 
    color: var(--color-black);
    font-weight: 600;
    font-size: 1.1rem;
    transition: var(--transition);
    border-radius: 2rem 0 0 2rem;
}

.admin__item.hidden__item {
    opacity: 0;
    visibility: 0;
    cursor: default;
}

.admin__item.hidden__item:hover {
    margin-left: 0 !important;
}   

.admin__item.current__item {
    background: var(--color-primary);
    color: var(--color-white);
    margin-left: 1rem;
}

.admin__item i {
    margin-right: 0.75rem;
}

.admin__item:hover {
    background: var(--color-primary);
    color: var(--color-white);
    margin-left: 1rem;
}

.admin__item.admin__item.current__item:hover {
    background: var(--color-primary);
    color: var(--color-white);
}

.adminMenu__btn {
    display: none;
}

/* ADMIN CONTAINER */
.admin__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 5rem);
}

.admin__search {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-52%);
    width: 60%;
}

.admin__search form {
    width: 100%;
}

.admin__content {
    width: 100%;
}

.admin__links {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.admin__links a {
    font-size: 1.15rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--color-black);
}

.admin__links a:hover {
    color: var(--color-primary-dark);
}

.admin__links a.active__link {
    color: var(--color-primary);
}

.admin__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.admin__header h1 {
    text-transform: uppercase;
    font-weight: 800;
}

.admin__add {
    padding: 1rem 1.5rem;
    background: var(--color-primary);
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 600;
    transition: var(--transition);
    cursor: pointer;
}

.admin__add:hover {
    background: var(--color-primary-dark);
}

.admin__table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.admin__table thead {
    color: var(--color-white);
    background: var(--color-primary);
}

.admin__table th {
    padding: 0.75rem 1.25rem; 
}

.admin__table tbody td {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--color-bg);
}

.admin__table tbody tr {
    background: var(--color-white);
    transition: var(--transition);
}

.admin__table tbody tr:hover {
    background: var(--color-light);
}

.bigger__table td{
    font-size: 0.9rem;
}

.admin__empty {
    font-size: 1.15rem !important;
    padding: 1rem !important;
    text-transform: uppercase;
    font-weight: bold;
}

.admin__actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.admin__actions a, .admin__actions button {
    padding: 0.25rem 0.5rem;
    background: transparent;
    cursor: pointer;
    font-size: 0.9rem;
    color: var(--color-primary);
    font-weight: 700;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.admin__actions a{
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
}

.admin__actions button:hover {
    background: var(--color-primary);
    color: var(--color-white);
}

.admin__actions a:hover{
    background: var(--color-secondary);
    color: var(--color-white);
}

.admin__info {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin__info *{
    font-family: 'Montserrat', sans-serif;
}

.admin__back{
    transition: var(--transition);
}

.admin__back:hover {
    color: var(--color-primary-dark);
}

.admin__qnt {
    font-size: 0.85rem;
}

.admin__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.admin__pagination .first {
    margin-right: -1rem;
}

.admin__pagination .last {
    margin-left: -1rem;
}

.admin__pagination i {
    color: var(--color-primary);
    font-size: 1.3rem;
    cursor: pointer;
    transition: var(--transition);
}

.admin__pagination i:hover {
    color: var(--color-primary-dark);
}

.admin__page {
    width: 1.75rem;
    height: 1.75rem;
    background: var(--color-white);
    color: var(--color-black);
    font-weight: 800;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: var(--transition);
}

.admin__page:hover {
    background: var(--color-primary);
    color: var(--color-white);
}

.current-page {
    background: var(--color-primary);
    color: var(--color-white);
}

.current-page a {
    color: var(--color-white);
}

/* CONFIRMATION */
.confirmation {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    overflow: hidden;
}

.confirmation__header {
    position: relative;
    background: var(--color-white);
    color: var(--color-primary);
    text-align: center;
    padding: 2rem;
    border-bottom: 1px solid var(--color-primary);
}

.confirmation__close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: none;
    font-size: 1.2rem;
    color: var(--color-primary);
    cursor: pointer;
    transition: var(--transition);
}

.confirmation__close:hover {
    color: var(--color-primary-dark);
}

.confirmation__header > i {
    font-size: 3.5rem;
}

.confirmation__header h1 {
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: normal;
    text-transform: uppercase;
}

.confirmation__body {
    background: var(--color-bg);
    padding: 1.5rem 2rem;
}

.confirmation__body h2 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.confirmation__body p {
    font-size: 0.9rem;
    color: var(--color-black);
    opacity: 0.9;
    margin-bottom: 0.25rem;
}

.confirmation__btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

.confirmation__btns button {
    font-size: 0.95rem;
    text-transform: uppercase;
    padding: 0.75rem;
    border-radius: 0.25rem;
    text-align: center;
    border: 1px solid;
    cursor: pointer;
    transition: var(--transition);
}

.confirmation__btns > * {
    width: 40%;
}

.confirmation__btns .confirmation__delete {
    width: 100%;
    background: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-white);
}

.confirmation__btns .confirmation__delete:hover {
    background: var(--color-primary-dark);
} 

.confirmation__btns .confirmation__cancel {
    opacity: 0.6;
    background: transparent;
    border-color: var(--color-black);
    color: var(--color-black);
}

.confirmation__btns .confirmation__cancel:hover {
    opacity: 1;
    background: var(--color-white);
} 

/* FORM */
.admin__form{
    margin-top: -1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form__group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.form__group > * {
    flex-grow: 1;
}

.form__section{
    display: flex;
    flex-direction: column;
    position: relative;
}

.form__section label {
    font-size: 1rem;
    font-weight: bold;
}

.form__section input, .form__section textarea, .form__section select {
    color: var(--color-black);
    background: var(--color-white);
    padding: 0.5rem;
    border: 1px solid var(--color-black);
}

.form__actions button{
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.75rem;
    border-radius: 0.25rem;
    text-align: center;
    border: 1px solid;
    cursor: pointer;
    transition: var(--transition);
    position: relative;
}

.form__clear {
    background: transparent;
    border-color: var(--color-black);
    color: var(--color-black);
}

.form__clear:hover {
    background: var(--color-white);
    animation: shakeBtn 200ms ease-in forwards;
}

.form__send {
    background: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-white);
}

.form__send:hover {
    background: var(--color-primary-dark);
}

.form__radio {
    display: flex;
    gap: 1rem;
}

.form__error {
    font-size: 0.95rem;
    color: white;
    padding: 0.25rem 0.5rem;
    background: rgb(255, 50, 50);
    border-radius: 0.25rem;
    position: absolute;
    left: 0;
    top: 100%;
}

.form__error::before {
    border-radius: 1px;
    width: 12px;
    height: 12px;
    background: rgb(255, 50, 50);
    position: absolute;
    content: '';
    top: -6px;
    left: 12px;
    clip-path: polygon(0 0, 100% 0%, 50% 50%, 0% 100%);
    transform: rotate(45deg);
}

.form__error ~ input {
    border: 1px solid rgb(255, 50, 50);
}

@keyframes shakeBtn {
    25% {
        transform: rotate(2.5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-2.5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* MEDIA QUERIES (TABLETS) */
@media screen and (max-width: 1060px) {
    .admin {
        grid-template-columns: 1fr;
    }

    /* ADMIN MENU */
    .admin__menu {
        position: absolute;
        display: flex;
        z-index: 14;
        left: 0;
        transform: translateX(-100%);
        box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.3);
        transition: var(--transition);
    }

    .adminMenu__btn {
        z-index: 13;
        display: block;
        position: absolute;
        bottom: 3rem;
        left: 0rem;
        background: var(--color-primary);
        cursor: pointer;
        color: var(--color-white);
        font-size: 1.8rem;
        border-radius: 0 1rem 1rem 0;
        padding: 0.15rem 0.3rem;
        transition: var(--transition);
    }
    
    .adminMenu__btn i {
        display: inline-block;
        margin-left: -0.4rem;
        transition: var(--transition);
    }

    .adminMenu__btn:hover {
        background: var(--color-primary-dark);
    }

    .adminMenu__btn:hover i {
        margin: 0;
    }

    .adminMenu__btn.activeMenu__btn {
        left: 267px;
    }

    .adminMenu__btn.activeMenu__btn i {
        margin-left: 0;
        transform: rotate(180deg);
    }

    .adminMenu__btn.activeMenu__btn:hover i {
        margin-left: -0.4rem;
    }

    /* CONFIRMATION */
    .confirmation {
        width: 400px;
    }

    .confirmation__header > i {
        font-size: 2.7rem;
    }

    .confirmation__header h1 {
        font-size: 1.9rem;
    }

    .confirmation__body h2 {
        font-size: 1.2rem;
    }

    .confirmation__body p {
        font-size: 0.85rem;
    }

    .confirmation__btns button {
        font-size: 0.9rem;
        padding: 0.5rem;
    }

    /* FORM */
    .form__group {
        flex-direction: column;
    }

    .form__group > * {
        width: 100%;
    }

    #body {
        height: 4em;
    }
}

/* MEDIA QUERIES (PHONES) */
@media screen and (max-width: 600px) {
    /* SEARCH */
    .admin__search {
        top: 1rem;
        left: 50%;
        transform: translateX(-54%);
        width: 90%;
    }    

    /* ADMIN CONTAINER */
    .admin__header {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .admin__header h1 {
        font-size: 2rem;
    }
    
    .admin__add {
        padding: 0.75rem 1rem;
        font-size: 0.9rem;
    }

    .admin__table tbody {
        font-size: 0.9rem;
    }

    .admin__table thead th:nth-child(1), 
    .admin__table thead th:nth-child(3),
    .admin__table tbody td:nth-child(1),
    .admin__table tbody td:nth-child(3),
    .bigger__table thead th:nth-child(4),
    .bigger__table tbody td:nth-child(4) {
        display: none;
    }

    .admin__info {
        flex-direction: column;
        gap: 0.5rem;
    }

    /* CONFIRMATION */
    .confirmation {
        width: 300px;
    }

    .confirmation__header {
        padding: 1.5rem;
    }

    .confirmation__body {
        padding: 1rem 1.25rem;
    }
}