<div class="lastNotice">
    <h2 class="lastNotice__title">Título Notícia</h2>
    <div class="lastNotice__img">
        <img src="./imgs/slide-pics/img2.png">
        <span class="img__category">Categoria</span>
    </div>
    <div class="lastNotice__text">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, quam assumenda, tempore odit nobis nihil sapiente nulla consequuntur incidunt necessitatibus modi amet saepe recusandae? Beatae similique dolore, numquam at laborum eaque optio nemo consectetur id officiis, quae ipsum sint quibusdam doloribus amet magni praesentium maxime rem unde consequuntur vero quo?</p>
    </div>
    <div class="notice__info">
        Nome Autor &bull; <i class="uil uil-calender"></i> 05/07/2005
    </div>
    <div class="lastNotice__btn">
        <a href="/noticia/titulo">Continuar Lendo <i class="uil uil-arrow-right"></i> </a>
    </div>
</div>