<div class="news swiper-slide">
    <a href="/noticia/titulo">
        <div class="news__img">
            <img src="/imgs/slide-pics/img4.png">
            <span class="category">Categoria</span>
        </div>
    </a>
    <div class="news__desc">
        <a href="">
            <div class="news__title">
                <h1>Titulo Noticia</h1>
            </div>
        </a>
        <div class="news__text">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum fugit quos maxime laudantium itaque, pariatur, quas, in dolor provident libero sunt modi suscipit eaque officia. Itaque quas asperiores quisquam ipsum architecto dolore animi et natus voluptatum aut, iusto, dolores quam.</p>
        </div>
    </div>
</div>