<div class="notice">
    <div class="notice__img">
        <img src="./imgs/slide-pics/img5.png">
        <span class="img__category">Categoria</span>
    </div>  
    <div class="notice__content">
        <div class="notice__title"><h3>Titulo Notícia</h3></div>
        <div class="notice__text">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat numquam voluptatem eligendi, quos minus assumenda ratione, natus debitis, sapiente cumque architecto libero doloribus dolorem! Sed fugit repellat ea nostrum quia tenetur corporis beatae provident suscipit! Quidem laudantium reiciendis et in.
            </p>
        </div>
    </div>
    <div class="notice__info">
        Nome Autor &bull; 05/07/2005
    </div>
    <div class="notice__cta">
        <a href="/noticia/titulo">Continuar Lendo <i class="uil uil-arrow-right"></i> </a>
    </div>
</div>