<nav>
    <div class="nav__container">
        <div class="nav__title">
            <a href="/"><img src="/imgs/logo/jb-logo.png " alt="Logo JB"></a>
        </div>
        <ul class="nav__menu">
            <li><a href="/"><span><i class="uil uil-home"></i> <p>Início</p></span></a></li>
            <li><a href="/cursos"><span><i class="uil uil-graduation-cap"></i> <p>Cursos</p></span></a></li>
            <li><a href="/noticias"><span><i class="uil uil-newspaper"></i> <p>Notícias</p></span></a></li>
            <li><a href="/sobre"><span><i class="uil uil-info-circle"></i> <p>Sobre</p></span></a></li>
            <li id="director__menu--btn">
                <a href="javascript:openDirector();" ><span><i class="uil uil-university"></i> <p>Diretoria</p></span></a>
                <ul class="director__menu">
                    <li><a href="/diretoria_academica">Acadêmica</a></li>
                    <li><a href="/diretoria_de_servicos">Serviços</a></li>
                </ul>
            </li>
            <li><a href="/contato"><span><i class="uil uil-phone"></i> <p>Contato</p></span></a></li>
        </ul>
        <button id="open-menu-btn"><i class="uil uil-bars"></i></button>
        <button id="close-menu-btn"><i class="uil uil-multiply"></i></i></button>
    </div>
</nav>