<nav>
    <div class="adminNav__container container">
        <div class="adminNav__logo">
            <a href="/">
                <img src="/imgs/logo/jb-logo.png" alt="Etec JB">
            </a>
        </div>
        <div class="adminNav__info">
            <span>Logado como <strong>Admin</strong></span>
        </div>
        <div class="adminNav__signOut">
            <a href="/">sair <i class="uil uil-sign-out-alt"></i></a>
        </div>
    </div>
</nav>