<section class="search__bar">
    <form action="" class="container search__bar--container">
        <div>
            <i class="uil uil-search"></i>
            <input type="search" name="" placeholder="<%- item %> ">
        </div>
        <button class="search__btn" type="submit">IR</button>
    </form>
</section>