<article class="testimonial swiper-slide">
    <div class="testimonial__body">
        <span class="quotation__mark mark--upside-down">"</span>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis rerum nostrum asperiores, ipsum laborum obcaecati sed! Veniam unde rem non quidem illo molestiae, nulla nisi corporis, eligendi, aliquid alias ullam!
        </p>
        <span class="quotation__mark">"</span>
    </div>
    <div class="testimonial__info">
        <img src="https://www.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png" class="avatar">
        <div class="testimonial__desc">
            <h5>Barry B. Benson</h5>
            <small>Abelhas?</small>
        </div>
    </div>
    </article>